@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-metallic-text {
  background: linear-gradient(
    to bottom,
    /* white at the top */ #ffffff,
    /* light gray transition */ #d0d0d0,
    /* silver at the bottom */ #c0c0c0
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25),
    /* subtle highlight */ 0 2px 4px rgba(0, 0, 0, 0.8); /* strong shadow for depth */
  filter: drop-shadow(0 0 4px rgba(192, 192, 192, 0.6)); /* silver glow */
}
